<html>
<body>
    <form method="post">
        <h2>Registration</h2>
        <div><input type="text" name="username" placeholder="Enter username"/></div>
        <div><input type="text" name="password" placeholder="Enter password"/></div>
        <button type="submit">Registration</button>
    </form>
</body>
</html>